<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Buttons</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="image/png" href="img/favicon.png"/>
        <link href="img/favicon.png" rel="apple-touch-icon"/>
        <link href="img/favicon.png" rel="apple-touch-icon" sizes="152x152"/>
        <link href="img/favicon.png" rel="apple-touch-icon" sizes="167x167"/>
        <link href="img/favicon.png" rel="apple-touch-icon" sizes="180x180"/>
        <style>html,body,div{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}html,body{width:100%;height:100%;}body{margin:0;font-size:0;background:#294A67;line-height:1;}</style>
    </head>
    <body data-ng-app="app">
        <div ui-view></div>
    </body>
    <!-- Templates -->
    <script type="text/ng-template" id="all.html">
        <div class="container all">
            <input class="filter"
                   data-ng-model="vm.filter"
                   placeholder="Search...">
            <div class="buttons">
                <sound-button data-ng-repeat="(key, button) in vm.buttons | orderBy:['fav','title'] track by $index"
                              data-ng-show="([button] | filter:vm.filter).length > 0"
                              data-ng-class="{'new-button': (vm.buttons.length - key < 20)}"
                              button="button"
                              key="key"
                              vm="vm"></sound-button>
                <sound-button class="random-button"
                              button="vm.randomButton"
                              key="vm.buttons.length+1"
                              vm="vm"></sound-button>
                <div class="button"
                     data-ng-class="{'add-button': !vm.addNewButton}"
                     data-ng-cloak>
                    <div class="button-container"
                         data-ng-click="vm.addNewButton = true">
                        <div class="item {{::vm.randomButton.class}}"></div>
                    </div>
                    <div class="button-infos" data-ng-if="vm.addNewButton">
                        <div class="title">
                            <input data-ng-model="vm.newButton.title" placeholder="Name">
                        </div>
                        <div class="url">
                            <input data-ng-model="vm.newButton.url" placeholder="Url">
                        </div>
                        <button data-ng-click="vm.addButton(vm.newButton)">Add</button>
                    </div>
                </div>
            </div>
            <div class="letter-scroll">
                <div class="letter"
                     data-ng-repeat="letter in '#abcdefghijklmnopqrstuvwxyz'.split('') track by $index"
                     data-ng-bind="letter"
                     data-ng-click="vm.scrollToLetter(letter)"></div>
            </div>
        </div>
        <audio></audio>
        <iframe></iframe>
    </script>
    <script type="text/ng-template" id="button-detail.html">
        <div class="container button-detail">
            <a class="back-button" ui-sref="buttons">&lt; Home</a>
            <div class="button data-ng-cloak">
                <audio preload="auto" src="{{::vm.buttonDetail.fullPath}}" autoplay></audio>
                <div class="button-container">
                    <div class="item {{::vm.buttonDetail.class}}"
                            data-ng-click="vm.play(vm.buttonDetail, key)"></div>
                </div>
                <div class="title" data-ng-bind="::vm.buttonDetail.title"></div>
                <div class="description" data-ng-bind="::vm.buttonDetail.description"></div>
                <iframe data-ng-if="::vm.buttonDetail.video"
                        id="ytplayer"
                        type="text/html"
                        width="640"
                        height="390"
                        data-ng-src="{{::vm.buttonDetail.video}}"
                        frameborder="0"/>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="button.html">
        <div class="button"
             data-ng-init="button.firstLetter = button.title.toLowerCase()[0]"
             data-ng-right-click="vm.play(button, key, true)"
             data-ng-cloak>
            <div class="button-container"
                 data-ng-class="{'active': vm.activeButton === key}">
                <div class="item {{button.class}}"
                     data-ng-click="vm.play(button, key)"></div>
                <div class="fav-button"
                     data-ng-class="{'active': button.fav}"
                     data-ng-click="vm.toggleFav(button)">
                    <span ng-if="!button.fav">✰</span>
                    <span ng-if="button.fav">🟊</span>
                </div>
            </div>
            <a class="link"
               data-ng-href="#/{{button.fileName}}">
                <div class="title"
                     data-ng-bind="button.title"></div>
            </a>
            <div class="description"
                 data-ng-bind="button.description"
                 data-ng-if="button.description"></div>
        </div>
    </script>
    <!-- Vendors -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/index.js"></script>
</html>
