<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Funny buttons</title>
    
    
    <link rel="stylesheet" href="css/reset.css">

    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div class='container' data-ng-app='app' data-ng-controller='AppController as vm'>
  <div class='buttons'>
    <div class='button' data-ng-cloak='true' data-ng-repeat='button in vm.buttons | orderBy:"title" track by $index'>
      <audio data-ng-class="'audio-'+$index" ng-src='{{button.src}}' type='audio/mpeg'></audio>
      <button class='item' data-ng-class='button.class' data-ng-click='vm.play($index)'></button>
      <div class='title' data-ng-bind='button.title'></div>
      <div class='description' data-ng-bind='button.description' data-ng-if='button.description'></div>
    </div>
  </div>
</div>
    <script src='https://code.angularjs.org/1.4.1/angular.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
