.container{"data-ng-app"=>"app","data-ng-controller"=>"AppController as vm"}
  .buttons{"data-ng-if"=>"vm.buttons.length>1"}
    .button.ng-cloak{"data-ng-repeat"=>"button in vm.buttons | orderBy:"title" track by $index"}
      %audio{"data-ng-class"=>"'audio-'+$index","ng-src"=>"{{button.src}}", "type"=>"audio/mpeg"}
      %button.item{"data-ng-click"=>"vm.play($index)", "data-ng-class"=>"button.class"}
      .title{"data-ng-bind"=>"button.title"}
      .description{"data-ng-if"=>"button.description", "data-ng-bind"=>"button.description"}
      
  