<div class='container'>
    <input class='filter' data-ng-model='filter'>
    <div class='buttons'>
        <div class='button ng-cloak' data-ng-repeat="button in vm.buttons | orderBy:'title' track by $index" data-ng-show="([button] | filter:filter).length > 0">
            <audio data-ng-class="'audio-'+button.title" ng-src='{{button.source}}' type='audio/mpeg'></audio>
            <button class='item' data-ng-class='button.class' data-ng-click='vm.play(button.title)'></button>
            <a class='link' ng-href="#/{{button.src}}">
                <div class='title' data-ng-bind='button.title'></div>
            </a>
            <div class='description' data-ng-bind='button.description' data-ng-if='button.description'></div>
        </div>
    </div>
</div>